<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sport clothes</title>
    <!-- Favicon -->
    <link th:href="@{/img/favicon.ico}" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap"
          rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link th:href="@{/lib/slick/slick.css}" rel="stylesheet">
    <link th:href="@{/lib/slick/slick-theme.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/root-style.css}" rel="stylesheet">
    <!--    <link th:href="@{/css/product.css}" rel="stylesheet">-->


</head>
<body>
<header th:include="@{/normal/header.html}"></header>
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item active">Category-Sport clothes</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Product List Start -->
<div class="product-view">
    <div class="container-fluid">
        <div class="row">
            <!-- Side Bar Start -->
            <div class="col-lg-3 sidebar">
                <div class="sidebar-widget category">
                    <h2 class="title">Category</h2>
                    <nav class="navbar bg-light">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link"
                                                    href="/product/category/MEN CLOTHES/1"><i
                                    class="fa fa-male"></i>Men Clothes</a></li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="/product/category/WOMEN CLOTHES/1"><i
                                    class="fa fa-female"></i>Women Clothes</a></li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="/product/category/KIDS AND BABIES CLOTHES/1"><i
                                    class="fa fa-child"></i>Kids & Babies Clothes</a></li>
                            <li class="nav-item active"><a class="nav-link"
                                                           href="/product/category/SPORTS CLOTHES/1"><i
                                    class="fa fa-tshirt"></i>Sports Clothes</a></li>
                            <li class="nav-item"><a class="nav-link"
                                                    href="/product/category/ACCESSORIES/1"><i
                                    class="fa fa-mobile-alt"></i>Accessories</a></li>
                        </ul>
                    </nav>
                </div>


                <div class="sidebar-widget brands">
                    <h2 class="title">Our Brands</h2>
                    <ul>
                        <th:block th:each="mBrand : ${mappingBrand}">
                            <li><a th:href="@{'/product/brand/'+${mBrand.getKey()}+'/1'}" th:text="${mBrand.getKey()}"></a><span th:text="${mBrand.getValue()}"></span></li>
                        </th:block>
                    </ul>
                </div>

            </div>
            <!-- Side Bar End -->
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-view-top">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="product-search">
                                        <input type="email" value="Search">
                                        <button><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="product-short">
                                        <div class="dropdown">
                                            <div class="dropdown-toggle" data-toggle="dropdown">Product short by</div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item">Newest</a>
                                                <a href="#" class="dropdown-item">Popular</a>
                                                <a href="#" class="dropdown-item">Most sale</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="product-price-range">
                                        <div class="dropdown">
                                            <div class="dropdown-toggle" data-toggle="dropdown">Product price range
                                            </div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item">$0 to $50</a>
                                                <a href="#" class="dropdown-item">$51 to $100</a>
                                                <a href="#" class="dropdown-item">$101 to $150</a>
                                                <a href="#" class="dropdown-item">$151 to $200</a>
                                                <a href="#" class="dropdown-item">$201 to $250</a>
                                                <a href="#" class="dropdown-item">$251 to $300</a>
                                                <a href="#" class="dropdown-item">$301 to $350</a>
                                                <a href="#" class="dropdown-item">$351 to $400</a>
                                                <a href="#" class="dropdown-item">$401 to $450</a>
                                                <a href="#" class="dropdown-item">$451 to $500</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <th:block th:each="product : ${products}">
                        <div class="col-md-3">

                            <div class="product-item">

                                <div class="product-image">
                                    <a th:href="${'product/'+product.id}">
                                        <img th:src="@{${'/img/'+product.imagesPath+'/'+product.firstImage}}"
                                             alt=${'Image' + product.name}>
                                    </a>
                                </div>
                                <div class="product-title">
                                    <p class="product-name text-limit" th:text="${product.name}"></p>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <p class="product-price currency" th:text="${product.price}"></p>
                                </div>

                            </div>
                        </div>
                    </th:block>
                </div>


                <!-- Pagination Start -->
                <div class="col-md-12">
                    <div th:if="${totalPages >1}">
                        <div class="row">
                            <div class="col-sm">
                                <a th:if="${ currentPage>1 }" th:href="@{'/product/category/SPORTS CLOTHES/' + ${currentPage -1 }}">
                                    Previous</a>
                                </span>
                            </div>
                            <div class="col-sm">
      <span th:each="i : ${#numbers.sequence(1,totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{'/product/category/SPORTS CLOTHES/' + ${i}}"> [[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp &nbsp;
      </span>
                            </div>
                            <div class="col-sm">
                                <a th:if="${currentPage < totalPages}" th:href="@{'/product/category/SPORTS CLOTHES/' + ${currentPage +1}}">
                                    Next</a>
                                <span th:unless="${currentPage <totalPages}">Next</span> &nbsp &nbsp;
                                </span>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!-- Pagination End -->

        </div>
    </div>
</div>
<!-- Product List End -->
<!-- Brand Start -->
<div class="brand">
    <div class="container-fluid">
        <div class="brand-slider">
            <div class="brand-item"><img th:src="@{/img/brand-1.png}" alt=""></div>
            <div class="brand-item"><img th:src="@{/img/brand-2.png}" alt=""></div>
            <div class="brand-item"><img th:src="@{/img/brand-3.png}" alt=""></div>
            <div class="brand-item"><img th:src="@{/img/brand-4.png}" alt=""></div>
            <div class="brand-item"><img th:src="@{/img/brand-5.png}" alt=""></div>
            <div class="brand-item"><img th:src="@{/img/brand-6.png}" alt=""></div>
        </div>
    </div>

<!-- Brand End -->

<footer th:include="@{/normal/footer.html}"></footer>
<!-- Back to Top -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>
<script th:src="@{/lib/slick/slick.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/products.js}"></script>

</body>
</html>