<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Account Notification</title>
    <!-- Favicon -->
    <link th:href="@{/img/favicon.ico}" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap"
          rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link th:href="@{/lib/slick/slick.css}" rel="stylesheet">
    <link th:href="@{/lib/slick/slick-theme.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/root-style.css}" rel="stylesheet">
    <link th:href="@{/css/my-account.css}" rel="stylesheet">

</head>
<body>
<header th:include="@{/normal/header.html}"></header>

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item active"> <a href="/my-account">My Account</a></li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- My Account Start -->
<div class="my-account">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="notification-nav"  href="/my-account/account-notification"
                       role="tab"><i class="fa fa-bell"></i>Notification</a>
                    <a class="nav-link" id="orders-nav" href="/my-account/account-orders" role="tab"><i
                            class="fa fa-shopping-bag"></i>Orders</a>
                    <a class="nav-link" id="account-nav" href="/my-account/account-details" role="tab"><i
                            class="fa fa-user"></i>Account Details</a>
<!--                    <a class="nav-link" id="account-nav" data-toggle="pill" th:href="/my-account/account-details" role="tab"><i-->
<!--                            class="fa fa-user"></i>Account Details</a>-->
                    <a class="nav-link" href="/logout"><i class="fa fa-sign-out-alt"></i>Logout</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="notification-tab" role="tabpanel"
                         aria-labelledby="notification-nav">
                        <h4>Notification</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum quam ac mi viverra
                            dictum. In efficitur ipsum diam, at dignissim lorem tempor in. Vivamus tempor hendrerit
                            finibus. Nulla tristique viverra nisl, sit amet bibendum ante suscipit non. Praesent in
                            faucibus tellus, sed gravida lacus. Vivamus eu diam eros. Aliquam et sapien eget arcu
                            rhoncus scelerisque.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- My Account End -->

<footer th:include="@{/normal/footer.html}"></footer>
<!-- Back to Top -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/my_account.js}"></script>
<!--<script th:src="@{/js/ajax_cart.js}"></script>-->
</body>
</html>